body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

header {
    background-color: #ffffff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    height: 50px;
}

.header-light {
    position: absolute;
    width: 100%;
    height: 70px;
    background: rgb(112,110,93);
    background: linear-gradient(180deg, rgba(112,110,93,1) 0%, rgba(156,150,123,0.7737219887955182) 0%, rgba(0,0,0,0) 95%, rgba(0,0,0,0) 98%);
    z-index: 0;
    top: 70px;
}

nav {
    flex: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #000000;
    min-width: 100px;
    z-index: 1;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
    margin-top: 25px;
}

.dropdown:hover .dropdown-content {
    height: 140px;
}

.dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-content li:hover {
    background-color: #000000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo img {
    max-height: 40px;
    padding-top: 4px;
}

.profile-button button {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1px;
    cursor: pointer;
    font-size: 14px;
    transition: all .4s ease-in-out;
}

.profile-button button:hover {
    background-color: white;
    color: black;
    transition: all .2s ease-in-out;
}

.big-picture {
    position: relative;
    text-align: center;
}

.big-picture img {
    width: 100%;
    max-width: 100%;
    height: 300px; /* Adjust the height as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.picture-title {
    position: absolute;
    top: 50%;
    left: 20px; /* Adjust this value as needed */
    transform: translateY(-50%);
    Adjust opacity as needed */
    padding: 10px 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}


.white-background {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.white-background .content {
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
}

.white-background h2 {
    color: #000;
}

.white-background p {
    color: #555;
    font-size: 18px;
}

.main-article {
    margin-top: 20px; /* Adjust margin as needed */
}

.article {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.article img {
    width: 150px; /* Adjust image width as needed */
    height: auto;
    margin-right: 20px; /* Space between image and details */
}


.article-details {
    flex: 1; /* Take remaining space */
}

.article-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.article-theme,
.article-date {
    margin-bottom: 5px;
}

.read-article-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-article-btn:hover {
    background-color: #0056b3;
}


